*{
  border: 1px solid gold;
  background: url("room.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Stalinist One', cursive;
  color: white;
  text-align: center;
}

.holder{
  text-align: center;
}

#luck{
  text-align: center;
  margin-top: 25vh;
}

#card{
  margin-top: 50vh;
}

.luck{
  display: inline-block;
  height: 300px;
  width: 200px;
}
